/* default font for entire site */
#root {
    font-family: 'Archivo Black', sans-serif;
    color:#12284B;
/*     font-family: 'Inconsolata', monospace;
    font-family: 'Prompt', sans-serif; */
}

/* default margins and padding for entire site */

/* default styling for all buttons */


/* default styling for backgrounds */


/* nav bar styling */

nav {
    margin-top: -20px;
    padding-left: 5%;
    padding-top: 30px;
}

/* buttons styling */
#button {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 8px;
}

#button:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 3px 3px white;
}

#pagebutton {
    text-decoration: none;
    margin-top: 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: #FFC52F;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 8px;
}

#pagebutton:hover {
    background-color: #FFC52F;
    border-color: #12284B;
    box-shadow: 0 0 3px 3px #12284B;
}


/* styling for home link */
#homelink {
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 28px;
}

/*nav bar background  */
#navbardiv {
    background-color: #12284B;
    margin-bottom: 2%;
}

/*slogan on home page*/
#slogan {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-top: 3%;
    font-size: 35px;
    color:#12284B;
    opacity: 0.95;
    text-shadow: 3px 3px 3px #FFC52F,
                4px 4px 4px #FFC52F,
                5px 5px 5px #FFC52F,
                6px 6px 6px #FFC52F;
    text-align: center;
}

#slogan:hover {
    color:#FFC52F;
    text-shadow: 3px 3px 3px #12284B,
    4px 4px 4px #12284B,
    5px 5px 5px #12284B,
    6px 6px 6px #12284B;
}

/* default styling for forms pages*/
#forms {
    padding-left: 5%;
    padding-top: 30px;
    margin-bottom: 5%;
}

#inputfields {
    margin-bottom: 12px;
}