/* default font for entire site */
#root {
    font-family: 'Archivo Black', sans-serif;
/*     font-family: 'Inconsolata', monospace;
    font-family: 'Prompt', sans-serif; */
}

/* default margins and padding for entire site */

/* default styling for all buttons */


/* default styling for backgrounds */


/* nav bar styling */

nav {
    margin-top: -20px;
    padding-left: 5%;
    padding-top: 30px;
}

#button {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 8px;
}

#button:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 3px 3px white;
}

#homelink {
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 28px;
}

#navbardiv {
    background-color: #12284B;
    margin-bottom: 2%;
}

#slogan {
    padding-left: 5%;
    padding-top: 2%;
    margin-top: 3%;
    font-size: 35px;
    color:#12284B;
    opacity: 0.95;
    text-shadow: 3px 3px 3px #FFC52F,
                4px 4px 4px #FFC52F,
                5px 5px 5px #FFC52F,
                6px 6px 6px #FFC52F;
    text-align: center;
}

#slogan:hover {
    color:#FFC52F;
    text-shadow: 3px 3px 3px #12284B,
    4px 4px 4px #12284B,
    5px 5px 5px #12284B,
    6px 6px 6px #12284B;
}

#homeimage {
    background-image: url("https://images.unsplash.com/photo-1470083748587-df49227c0505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80");
}