/* default font for entire site */
#root {
    font-family: 'Archivo Black', sans-serif;
    color:#12284B;
/*     font-family: 'Inconsolata', monospace;
    font-family: 'Prompt', sans-serif; */
}

/* default margins and padding for entire site */

/* default styling for all buttons */


/* default styling for backgrounds */


/* nav bar styling */
/* nav {
    margin-top: 20px;
    padding-left: 5%;
    padding-top: 30px;
    width: 100%;
} */

/*nav bar background  */
#navbardiv {
    background-color: #12284B;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-we
}

/* styling for home link */
#homelink {
    text-decoration: none;
    color: white;
    font-size: 28px;
}

/* buttons styling */
#button {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin: 2px;
    text-align: left;
}

#button:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#pagebutton {
    text-decoration: none;
    margin-right: 8px;
    margin-top: 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: #FFC52F;
    padding: 5px;
    width: auto;
    font-size: 14px;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #12284B,
                0 0 4px 4px #12284B;
}

#pagebutton:hover {
    background-color: #FFC52F;
    border-color: #12284B;
    box-shadow: 0 0 5px 5px #12284B;
}


/*slogan on home page*/
#slogan {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-top: 3%;
    font-size: 35px;
    color:#12284B;
    opacity: 0.95;
    text-shadow: 3px 3px 3px #FFC52F,
                4px 4px 4px #FFC52F,
                5px 5px 5px #FFC52F,
                6px 6px 6px #FFC52F;
    text-align: center;
}

#slogan:hover {
    color:#FFC52F;
    text-shadow: 3px 3px 3px #12284B,
    4px 4px 4px #12284B,
    5px 5px 5px #12284B,
    6px 6px 6px #12284B;
}

/* default styling for forms pages*/
#forms {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    margin-bottom: 5%;
}

#inputfields {
    margin-bottom: 12px;
    text-align: left;
}

/*styling for page titles at top of page */
#pagetitle {
    margin-bottom: 3%;
    font-size: 35px;
    border-bottom: 8px;
    border-bottom-style: solid;    
}

/*default margins for pages */
#pages {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    margin-bottom: 5%;
    color:#12284B;
}

#logout {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-left: 4px;
    text-align: left;
}

#logout:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#myPlayers {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#myPlayers:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#reports {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#reports:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#addplayer {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#addplayer:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#teams {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#teams:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}


#search {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#search:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#myorg {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#myorg:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#myprofile {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#myprofile:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}

#searchbar {
    width: 50%;
}

#login {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#login:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}



#register {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    width: auto;
    color: #12284B;
    background-color: white;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

#register:hover {
    background-color: #FFC52F;
    border-color: #FFC52F;
    box-shadow: 0 0 5px 5px #FFC52F;
}