/* default font for entire site */
#root {
    font-family: 'Archivo Black', sans-serif;
    color:#12284B;
/*     font-family: 'Inconsolata', monospace;
    font-family: 'Prompt', sans-serif; */
}

/*nav bar background  */
#navbardiv {
    background-color: #12284B;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}

/* styling for home link */
#homelink {
    text-decoration: none;
    color: white;
    font-size: 28px;
}


#newnotebutton {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: #FFC52F;
    padding-top: auto;
    padding-bottom: auto;
    margin-bottom: 20px;
    width: auto;
    font-size: 14px;
    color: #12284B;
    background-color: #FFC52F;
    box-shadow: 0 0 3px 3px #FFC52F,
                0 0 4px 4px #FFC52F;
}

#newnotebutton:hover {
    color: white;
    background-color: #12284B;
    border-color: #12284B;
    box-shadow: 0 0 5px 5px #12284B,
                0 0 6px 6px #12284B;
}


/* default styling for forms pages*/
#forms {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    margin-bottom: 5%;
}

#inputfields {
    margin-bottom: 20px;
    text-align: left;
}

#numberfields {
    margin-bottom: 20px;
}

/*styling for page titles at top of page */
#pagetitle {
    margin-bottom: 3%;
    font-size: 35px;
    border-bottom: 8px;
    border-bottom-style: solid;    
}


#info {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-color: #FFC52F;
    border-style: solid;
    background-color: #FFC52F;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0 0 3px 3px #12284B,
                0 0 4px 4px #12284B;
}

#statsheader {
    border-radius: 3px;
    border-color: #12284B;
    border-style: solid;
    background-color: #FFC52F;
    font-size: 16px;
    box-shadow: 0 0 3px 3px #12284B,
                0 0 4px 4px #12284B;
    color:#12284B;
}

#oneaccordion {
    margin-bottom: 30px;
}